<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="bower_components/jqueryui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="bower_components/jqueryui/themes/smoothness/theme.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app = 'jsbursa'>
<div class="jumbotron">
    <div class="container">
        <h1>Студенты курса</h1>
        <!--<div ng-repeat="value in [{a: 2, b:3}, {a: 2, b:3}] track by $index"></div>-->
    </div>
</div>
<div ng-controller = 'userControl'>
    <button ng-click="add()">Add</button>
    <div class="row">
        <div class="col-md-3 active" >
            <h2>На курсе</h2>
                <draggable-list items="users" id = 'test'></draggable-list>
        </div>
        <div class="col-md-3 redcard">
            <h2>На отчислении</h2>
            <ul>
                <li ng-repeat = 'ad in users track by $index' data-id = {{ad.id}}>
                    <h3>{{ad.name}}</h3>
                </li>
            </ul>
    </div>
        <div class="col-md-3 removed">
            <h2>На отчислении</h2>

                <draggable-list items="users2" id = 'supertest'></draggable-list>

        </div>
        <div class="col-md-3 removed">
            <h2>На отчислении</h2>
            <ul>
                <li ng-repeat = 'ad in users2 track by $index' data-id = {{ad.id}}>
                    <h3>{{ad.name}}</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
<script src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js'></script>
<script src="index.js"></script>
</body>
</html>